In [2]:
import os
import numpy as np
import pandas as pd

In [5]:
a = np.array([0.123456789121212, 2, 3], dtype=np.float16)
print("16 bit: ", a[0])
a = np.array([0.123456789121212, 2, 3], dtype=np.float32)
print("32 bit: ", a[0])
a = np.array([0.123456789121212, 2, 3], dtype=np.float64)
print("64 bit: ", a[0])

16 bit:  0.1235
32 bit:  0.12345679
64 bit:  0.123456789121212

In [7]:
##Series
sample = pd.Series(data = [1, 2, 3, 4, 5], index = [10, 11, 12, 13, 14], dtype="int32")
print(sample)

10    1
11    2
12    3
13    4
14    5
dtype: int32

In [8]:
sample = pd.Series(data = [1, 2, 3, 4, 5], dtype="int32")
print(sample)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [10]:
animal_size = ["giant", "big", "medium", "small", "tiny"]
animal_name = ["Diansaur", "Elephant", "Cow", "Cat", "Chick"]

animal_series = pd.Series(data = animal_name, index = animal_size, dtype = "str", name = "animals")
print(animal_series)

giant     Diansaur
big       Elephant
medium         Cow
small          Cat
tiny         Chick
Name: animals, dtype: object

In [16]:
#Using Dictionary
data_dict = {
    "name" : "a",
    "number" : 12,
    "state" : "fluid"
}
dict_series = pd.Series(data_dict)
print(dict_series)
print("\n")
dict_series_indexed = pd.Series(data_dict, index = ["name1", "number1", "state1"])
print(dict_series_indexed)

name      123456
number        12
state     345678
dtype: int64


name1     NaN
number1   NaN
state1    NaN
dtype: float64

In [18]:
##collection of series is a data frame
list_df = pd.DataFrame(data = [[1, 2, 3, 4], [5, 6, 7, 8]], columns = ["one", "two", "three", "four"])
list_df.head()

   one  two  three  four
0    1    2      3     4
1    5    6      7     8

In [21]:
##collection of series is a data frame
list_df = pd.DataFrame(data = [[1, 2, 3, 4], [5, 6, 7, 8]], columns = ["one", "two", "three", "four"], index = [10, 20])
list_df.head()

    one  two  three  four
10    1    2      3     4
20    5    6      7     8

In [26]:
#using dict
dict_data = {
    "name": ["apple", "orange", "banana", "onion"],
    "price": [10, 20, 30, 40]
}
dict_df = pd.DataFrame(dict_data)
dict_df

     name  price
0   apple     10
1  orange     20
2  banana     30
3   onion     40

In [28]:
##add new column to the dataframe
dict_df["age"] = ["old", "old", [{"eye": "blue"}], "small"]
dict_df

     name  price                age
0   apple     10                old
1  orange     20                old
2  banana     30  [{'eye': 'blue'}]
3   onion     40              small

In [29]:
sample = pd.Series( data = [1, '2', 3, 'four', 5], index = [20, 21, 22, 23, 24])
print(sample)
print(sample.dtype)

20       1
21       2
22       3
23    four
24       5
dtype: object
object

In [30]:
dict_df.dtypes

name     object
price     int64
age      object
dtype: object

In [32]:
sample = pd.Series( data = [1, 2, 3, 4, 5], index = [20, 21, 22, 23, 24])
print(sample.astype('float32'))

20    1.0
21    2.0
22    3.0
23    4.0
24    5.0
dtype: float32